ul {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 0.87rem;
  flex-wrap: wrap;
}

.movie_item a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: all 0.2s;
}

.movie_item a:hover {
  transform: scale(1.1);
}

.movie_item a:hover > p {
  padding: 0 0.5rem;
  visibility: visible;
  color: #fbbf24;
  font-weight: 600;
  border-left: 1px solid #fbbf24;
  border-right: 1px solid #fbbf24;
}

.movie_item p {
  visibility: hidden;
}

.movie_banner {
  width: 200px;
  height: 300px;
}